<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHPHItnHiWHybdGYSlE_UpOBj5L4DAxxs</string>
	<key>GCM_SENDER_ID</key>
	<string>1027174012052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectFinal</string>
	<key>PROJECT_ID</key>
	<string>projectfinal-368c3</string>
	<key>STORAGE_BUCKET</key>
	<string>projectfinal-368c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027174012052:ios:6450a225968ff8dbfc9081</string>
</dict>
</plist>